
ansi2html==1.9.1
appdirs==1.4.4
atomicwrites==1.4.0
backports.weakref==1.0.post1
blis==0.7.11
cachelib==0.9.0
catalogue==2.0.10
cloudpathlib==0.16.0
clyent==1.2.2
confection==0.1.4
dash==2.14.2
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-extensions==1.0.4
dash-html-components==2.0.0
dash-leaflet==1.0.11
dash-table==5.0.0
dash_mantine_components==0.14.0
EditorConfig==0.12.3
jsbeautifier==1.14.11
jsonpointer==2.1
langcodes==3.3.0
openpyxl==3.0.10
ply==3.11
preshed==3.0.9
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyMySQL==1.1.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pywin32==305.1
retrying==1.3.4
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
geobuf==1.1.1
gunicorn==20.1.0
pandas 
openpyxl
protobuf==3.20.*
matplotlib==v3.8.2
SQLAlchemy==v2.0.25
pymysql==v1.1.
dash-extensions==1.0.4
dash-html-components==2.0.0
dash-renderer==1.1.2
