dash==2.14.2
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-extensions==1.0.4
dash-html-components==2.0.0
dash-leaflet==1.0.11
dash-table==5.0.0
langcodes==3.3.0
ply==3.11
preshed==3.0.9
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
retrying==1.3.4
gunicorn==20.1.0
pandas 
protobuf==3.20.*
matplotlib==v3.8.2
SQLAlchemy==v2.0.25
pymysql==v1.1.0
dash-extensions==1.0.4
dash-html-components==2.0.0
dash-renderer==1.1.2
