@charset "UTF-8";

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-VariableFont_wght.ttf") format(truetype)
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: "Montserrat" !important;
    --bs-font-monospace: "Montserrat" !important;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

    --bs-whitegroup1:#FFFFFF;
    --bs-whitegroup2:#F2F2F2;
    --bs-whitegroup3:#E6E6E6;
    --bs-whitegroup4:#212529;

    --bs-peachgroup1:#EC6552;
    --bs-peachgroup4:#F08475;
    --bs-peachgroup2: #E56A54;

    --bs-cyangroup1:#00ABAA;
    --bs-cyangroup2:#50AFA8;
    --bs-cyangroup3:#00B2A9;

    --bs-limegroup1:#CDD500;
    --bs-limegroup2:#a8ad16;
    --bs-limegroup3:#C4D600;

    --bs-blackgroup1:#000000;
    --bs-blackgroup2:#212529;
    --bs-blackgroup3:#373B3E;
    --bs-blackgroup4:#1c1c1c;

    --bs-greengroup1:#9ACA7C;
    --bs-greengroup2:#DCEED0;
}

*,
::after,
::before {
    box-sizing: border-box
}

@media (prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}


body {
    margin: 0;
    font-family: "Montserrat";
    font-size: calc(0.25rem + 0.5vw);
    font-weight: normal;
    line-height: 1.25;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

@media only screen and (max-width: 1080px) {
    body {
      line-height: 1;
    }
  }

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25
}

hr:not([size]) {
    height: 1px
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: .0rem;
    padding-top: .0;
    margin-bottom: .0;

    font-weight: 500;
    line-height: 1.5
}

.h1,
h1 {
    font-size: calc(1rem + 0.5vw);
}

h3 {
    font-weight: bold;
    margin-bottom: .25rem;
    background-color: black;
    color: var(--bs-greengroup2);
    padding-left: .5vw;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;

}

abbr[data-bs-original-title],
abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none
}

.collapse:not(.show) {
    display: none
}

.collapsing {
    height: 0;
    overflow: hidden;
    transition: height .35s ease
}

.list-group {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}



/* width */
::-webkit-scrollbar {
      width: 0.7rem;
      background-color: var(--bs-whitegroup3);
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: #CCCCCC; 
      box-shadow: inset 0 0 0.3rem rgb(79, 78, 78); 

    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: white; 
      border-radius: 0.25rem;
      border: 0.05rem solid transparent;
    border-radius: 20rem;
    background-clip: content-box;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: whitesmoke; 
      border: 0.05rem solid lightgray;
      border-radius: 20rem;
      background-clip: content-box;
    }

/*# sourceMappingURL=bootstrap.min.css.map */

/* SIDEBAR TABLE LIST STYLE */
.table_tabs_container {
    /*z-index: 0;*/
    position: relative;
    border-width: thin;
    width: 30rem;
}

.table_tab {
    overflow: hidden !important;
    height: 2rem !important;
    width: 30rem;
    padding-top: .55rem !important; 
    padding-left: .5rem !important;
    border: none !important;
    text-align: left !important;
    font-size: calc(0.3rem + 0.5vw);
    line-height: 1;
    background-color: var(--bs-whitegroup2);
}
.table_tab--selected {
    background-color: var(--bs-whitegroup1);
    border-left: solid !important;
    border-width: thick !important;
    border-left-color: var(--bs-limegroup1) !important;
}
.table_tab:hover {

    background-color: var(--bs-whitegroup1);
}

.table_tab label{
    overflow: hidden;
    max-width: 15rem !important;
    text-overflow: ellipsis;
}

/* todo: convert checkbox_list_cols_stylem checkbox_col, checkbox_row, checkbox */
.list_and_checkbox_div{
    left : 0;
    list-style-type: none;
    text-overflow: ellipsis;
    
    font-size: 1rem;
    display: flex;
    width: 100%;
    max-width: 30rem;
    color: black;
}

.shopping_checkbox {
    z-index: 3;
    background-color: none;
    width:2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    padding: .4rem;
    position: relative;
    left: -2.5rem;
}

input[type="checkbox" i] {
    margin-bottom: 1rem;
}

/* */

.search_button {
    height: 1.5rem;
    background: var(--bs-cyangroup1) !important;
    color: white !important;
    border: 1px solid var(--bs-whitegroup4) !important;
    border-left: none !important; /* Prevent double borders */
    cursor: pointer !important;
  }
.search_button:hover {
    background: var(--bs-cyangroup2) !important;
}
  
.search_field {
    height: 1.5rem;
    border-right: none !important; /* Prevent double borders */
    border: 1px solid var(--bs-whitegroup4) !important;
}


.custom-tabs-container {
    position: fixed;
    background-color: black;
    height: 3rem;

}
.custom-tabs {
    background-color:var(--bs-whitegroup1) !important;
    
}

.custom-tab {
    background-color:var(--bs-whitegroup1) !important;
    color: black !important;
    border-top-left-radius: .3rem !important;
    border-top-right-radius: .3rem !important;
    border: none !important;
    line-height: 1;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    height: 2.5rem !important;
    margin-top: 0.2rem;
    margin-right: 1px;
    font-size: 1rem;
}
.custom-tab--selected-show {
    color: white !important;
    background-color: var(--bs-cyangroup1) !important;
    border-top: none !important;
}
.custom-tab--selected-ops {
    color: white !important;
    background-color: var(--bs-greengroup1) !important;
    border-top: none !important;
}
.custom-tab--selected-doc {
    color: white !important;
    background-color: var(--bs-peachgroup1) !important;
    border-top: none !important;
}


.ops_header {
    color: white;
    background-color: var(--bs-greengroup1);
}
.show_header {
    color: white;
    background-color: var(--bs-cyangroup1);
}
.doc_header {
    color: white;
    background-color: var(--bs-peachgroup1);
}


.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table {
    font-family: "Montserrat" !important;
    font-size: 0.75rem;
}

.row_layout {
    width: 100%;
    display: flex;
}
.non_row_layout {
    display: relative;
}

#embed_video {
    justify-content: right;
    width:32vw;
    height:18vw;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

ul {
    margin-top: 0rem;
    margin-bottom: 0rem;
    line-height: 1.5;
    margin-right: .75vw;
    margin-bottom: .5vw;
}

.padding_p {
    margin-top: .5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: .5vw;
}

#clear_basket_button {
    background: black !important;
    color: white !important;
    cursor: pointer !important;
    border: none;
    transition-duration: 0.25s;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    padding: 1rem;
  }

#clear_basket_button:hover {
    background: var(--bs-red) !important;
}

#save_button {
    background: var(--bs-cyangroup2) !important;
    color: white !important;
    cursor: pointer !important;
    border:none;
    transition-duration: 0.25s;
    float:right;
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    
    padding: 1rem;
  }
#save_button:hover {
    background: var(--bs-cyangroup1) !important;
}

#title_nav_style {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    left : 33%;
    width : 34%;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
}

.nav-item{
    display: inline;
    z-index: 999;
    margin-left: 5%;
    margin-right: 5%;
}

.nav-link {
    color:black;
    font-size: large;
}

.nav_button {
    position: flex;
    display: inline;
    color:black;
    font-size: large;
     z-index: 999;
    position : relative;
    overflow : visible;
    margin-left: 5%;
    margin-right: 5%;
    border: 0rem;
    background: white;
    font-size: large;
    font-weight: normal;
    font-family: "Montserrat";
}

.nav_button:hover {
    text-decoration: underline;
}

#sidebar-collapse-button {
    position: relative;
    display:inline;    
    padding: .5rem;
}

#body {
    position: fixed;
    top: 5rem;
    left:0;
    width: 100%;
    height:100%;
    z-index: 0;
    overflow-y: hidden;
}

.body_content {
    position: relative;
    float: left;
    
    height: 100%;
    border: .5rem solid green
}

.body_box {
    align-items: center;
    padding-left: 10rem;
    border: .5rem solid blue
}

#sidebar_left_div {
    position: relative;
    float: left;
    top: 0;
    left: 0;
    z-index: 1;
    width: fit-content;
    height: 100%;
    background-color: #212529;
}

#sidebar_list_div {
    position: relative;
    background-color:#212529 ;
    overflow-y: scroll;
    overflow-x: hidden;
    height:100%;
}

#sidebar-collapse-button{
    float: left;
    position: relative;
    display: inline;
    top: 0rem;
    z-index: 5;
}

#sidebar_title {
    background-color: #212529;
    color: white;
    height: 5rem;
}

#landing {
    color:blue;
    height: 100%;
    overflow-y: scroll;
}

#sidebar-collapse {
    position: relative;
    float: left;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    background-color: #212529;
    width: 25vw;
    transition: all .25s;
}
.collapse:not(.show) {
    display: none;
    transition: all .25s;}