@charset "UTF-8";

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: montserrat;
    --bs-font-monospace: montserrat;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

    --bs-whitegroup1:#FFFFFF;
    --bs-whitegroup2:#F2F2F2;
    --bs-whitegroup3:#E6E6E6;
    --bs-whitegroup4:#212529;

    --bs-peachgroup1:#EC6552;
    --bs-peachgroup4:#F08475;

    --bs-cyangroup1:#00ABAA;
    --bs-cyangroup2:#50AFA8;

    --bs-limegroup1:#CDD500;

    --bs-blackgroup1:#000000;
    --bs-blackgroup2:#212529;
    --bs-blackgroup3:#373B3E;
    --bs-blackgroup4:#1c1c1c;
}

*,
::after,
::before {
    box-sizing: border-box
}

@media (prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}


body {
    margin: 0;
    font-family: montserrat;
    font-size: small;
    font-weight: normal;
    line-height: 1;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25
}

hr:not([size]) {
    height: 1px
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: .0rem;
    padding-top: .0;
    margin-bottom: .0;

    font-weight: 500;
    line-height: 1.5
}

.h1,
h1 {
    font-size: calc(1.375rem + 1.5vw);
    padding-top:.5rem
}

p {
    margin-top: 0;

}

abbr[data-bs-original-title],
abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none
}

.collapse:not(.show) {
    display: none
}

.collapsing {
    height: 0;
    overflow: hidden;
    transition: height .35s ease
}

.list-group {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}



/* width */
::-webkit-scrollbar {
      width: 0.5rem;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: #CCCCCC; 
      box-shadow: inset 0 0 0.2rem rgb(79, 78, 78); 
      border-radius: 0.25rem;
      
      
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: white; 
      border-radius: 0.25rem;
      border: 0.05rem solid transparent;
    border-radius: 20rem;
    background-clip: content-box;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: whitesmoke; 
      border: 0.05rem solid lightgray;
      border-radius: 20rem;
      background-clip: content-box;
    }

/*# sourceMappingURL=bootstrap.min.css.map */

/* SIDEBAR SCHEMA LIST STYLE */
.accordion {
    padding: 0;
    margin: 0;
}


.accordion-item {
    padding: 0;
    margin:0;
    height: fit-content;
    
}

.accordion-button {
    background-color: #212529;
    color: white;
    border-bottom:solid;

    border-width:thin;
    font-size:medium;
    margin: 0rem;
    padding: 0.3rem;
    padding-left: .5rem;
    text-align: left;
    width:100%;
    cursor: pointer;
}


.active, .accordion-button:hover {
    background-color: #34383c;
}


/* SIDEBAR TABLE LIST STYLE */
.table_tabs_container {
    z-index: 1;
    position: relative;
    border-width: thin;
    width: 100%;
    left: -1rem;
    border-color: blue;
}


.table_tab {
    overflow: hidden !important;
    height: 2rem !important;
    width: 16rem !important;
    padding-top: .55rem !important; 
    padding-left: 2rem !important;
    border-left: none !important;

    text-align: left !important;
    background-color: var(--bs-whitegroup2) !important;
}
.table_tab--selected {
    z-index: 2;
    overflow: hidden !important;
    height: 2rem !important;
    width: 16rem !important;
    padding-top: .55rem !important;
    padding-left: 2rem !important;

    border-left: none !important;

    text-align: left !important;
    background-color: var(--bs-whitegroup1) !important;
    box-shadow:  0px 0px 0.3rem -0.1rem !important
}
.table_tab:hover {
    overflow: hidden !important;
    height: 2rem !important;
    width: 16rem !important;
    padding-top: .55rem !important;
    padding-left: 2rem !important;

    text-align: left !important;
    background-color: var(--bs-whitegroup1) !important;
}


.search_button {
    height: 1.5rem;
    background: var(--bs-cyangroup1) !important;
    color: white !important;
    border: 1px solid var(--bs-whitegroup4) !important;
    border-left: none !important; /* Prevent double borders */
    cursor: pointer !important;
  }
  
.search_field {
    height: 1.5rem;
    border-right: none !important; /* Prevent double borders */
    border: 1px solid var(--bs-whitegroup4) !important;

}
  

