@charset "UTF-8";

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-VariableFont_wght.ttf") format(truetype)
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: "Montserrat" !important;
    --bs-font-monospace: "Montserrat" !important;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

    --bs-whitegroup1:#FFFFFF;
    --bs-whitegroup2:#F2F2F2;
    --bs-whitegroup3:#E6E6E6;
    --bs-whitegroup4:#212529;

    --bs-peachgroup1:#EC6552;
    --bs-peachgroup4:#F08475;
    --bs-peachgroup2: #E56A54;

    --bs-cyangroup1:#00ABAA;
    --bs-cyangroup2:#50AFA8;
    --bs-cyangroup3:#00B2A9;
    --bs-cyangroup4:#9edfdf;

    --bs-limegroup1:#CDD500;
    --bs-limegroup2:#a8ad16;
    --bs-limegroup3:#C4D600;

    --bs-blackgroup1:#000000;
    --bs-blackgroup2:#212529;
    --bs-blackgroup3:#373B3E;
    --bs-blackgroup4:#1c1c1c;

    --bs-greengroup1:#9ACA7C;
    --bs-greengroup2:#DCEED0;
}

*,
::after,
::before {
    box-sizing: border-box
}

@media (prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}


body {
    margin: 0;
    font-family: "Montserrat";
    font-size: calc(0.25rem + 0.5vw);
    font-weight: normal;
    line-height: 1.25;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

@media only screen and (max-width: 1080px) {
    body {
      line-height: 1;
    }
  }

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25
}

hr:not([size]) {
    height: 1px
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: .0rem;
    padding-top: .0;
    margin-bottom: .0;
    font-weight: 500;
    line-height: 1.5
}

.h1,
h1 {
    font-size: calc(1rem + 0.5vw);
}

h3 {
    font-weight: bold;
    margin-bottom: .25rem;
    background-color: black;
    color: var(--bs-greengroup2);
    padding-left: .5vw;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;

}

abbr[data-bs-original-title],
abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none
}

.collapse:not(.show) {
    display: none
}


.collapsing {
    height: 0;
    overflow: hidden;
    transition: height .35s ease
}

.list-group {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.dropup,
.dropend,
.dropdown,
.dropstart {
  position: relative;
}

.dropdown-toggle {
  white-space: nowrap;
  color: black;
  background-color: white;
  border: none;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  position: relative;
  z-index: 999 !important;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #ffffff;
  text-align: left;
  list-style: none;
  background-color: #000000;
  background-clip: padding-box;
  overflow: visible;
}

.dropend .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}
.dropend .dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropend .dropdown-toggle::after {
  vertical-align: 0;
}

.dropstart .dropdown-menu[data-bs-popper] {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: 0.125rem;
}
.dropstart .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
}
.dropstart .dropdown-toggle::after {
  display: none;
}
.dropstart .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent;
}
.dropstart .dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropstart .dropdown-toggle::before {
  vertical-align: 0;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    color: #ffffff;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  .dropdown-item:hover, .dropdown-item:focus {
    color: #ffffff;
    background-color: #2b2b2b;
  }
  .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #00ABAA;
  }

  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-header {
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    color: #ffffff;
    white-space: nowrap;
  }
  
  .dropdown-item-text {
    display: block;
    padding: 0.25rem 1rem;
    color: #ffffff;
  }
  

/* width */
::-webkit-scrollbar {
      width: 0.5rem;
      background-color: var(--bs-whitegroup3);
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: #CCCCCC; 
      box-shadow: inset 0 0 0.3rem rgb(79, 78, 78); 

    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: white; 
      border-radius: 0.25rem;
      border: 0.05rem solid transparent;
    border-radius: 20rem;
    background-clip: content-box;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: whitesmoke; 
      border: 0.05rem solid lightgray;
      border-radius: 20rem;
      background-clip: content-box;
    }

/*# sourceMappingURL=bootstrap.min.css.map */


.accordion {
    padding: 0;
    margin: 0;
}

.accordion-item {
    padding: 0;
    margin:0;
    height: fit-content;
}

.accordion-button {
    background-color:  white;
    position: relative;
    display: flex;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    font-size: 1.15rem;
    margin: 0rem;
    padding: 0.3rem;
    padding-left: .75rem;
    text-align: left;
    width:100%;
    cursor: pointer;
    border: none;
}

.accordion-button:hover {
    transition-duration: .25s;
    background-color: var(--bs-whitegroup2);
}
.accordion-button:active {
    transition-duration: .1s;
    background-color: var(--bs-cyangroup4);
}


.accordion-button:not(.collapsed) {
    border-bottom: var(--bs-whitegroup4) solid thin;
  }

.accordion-button:not(.collapsed)::after {
    background-image: url("expand-arrow-1-32.png");
    transform: rotate(-180deg);
    border: none;
    }

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("expand-arrow-1-32.png");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
    border: none;
    }

.search_accordion .accordion-body {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.content_accordion .accordion-button::after {
    background-image: url("expand-arrow-white-1-32.png");
}
.content_accordion .accordion-button:not(.collapsed)::after {
    background-image: url("expand-arrow-white-1-32.png");
}

.content_accordion .accordion-button{
    background-color: #212529;
    color: white;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    margin: 0rem;
    padding: 0.3rem;
    padding-left: 1rem;
    }

.content_accordion .accordion-button.collapsed:hover{
    background-color: var(--bs-limegroup1);
    color: black;
    border-radius: .3rem;
}

.content_accordion .accordion-button:not(.collapsed) {
    color: black;
    background-color: var(--bs-limegroup1);
    border: none;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.content_accordion .table_tab.tab {
    overflow: hidden;
    height: 2rem;
    width: 25vw;
    padding-top: .55rem; 
    padding-left: .5rem;
    border: none ;
    text-align: left;
    font-size: calc(0.5rem + 0.5vw);
    line-height: 1;
    background-color: var(--bs-whitegroup2);
}
.content_accordion .table_tab--selected {
    background-color: var(--bs-whitegroup1);
    border-left: solid !important;
    border-width: thick !important;
    border-left-color: var(--bs-limegroup1) !important;
}
.content_accordion .table_tab:hover {
    background-color: var(--bs-whitegroup1);
}

.content_accordion .table_tab label{
    overflow: hidden;
    max-width: 15rem !important;
    text-overflow: ellipsis;
}

/* SIDEBAR TABLE LIST STYLE */
.table_tabs_container {
    /*z-index: 0;*/
    position: relative;
    border-width: thin;
    width: 25vw;
}

/* todo: convert checkbox_list_cols_stylem checkbox_col, checkbox_row, checkbox */
.list_and_checkbox_div{
    left : 0;
    list-style-type: none;
    text-overflow: ellipsis;
    font-size: 1rem;
    display: flex;
    width: 100%;
    max-width: 25vw;
    color: black;
}

.shopping_checkbox {
    z-index: 3;
    background-color: none;
    width:2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    padding: .4rem;
    position: relative;
    left: -2.5rem;
}

.content_accordion input[type="checkbox" i] {
    margin-bottom: 1rem;
}


/* */
#main_search_row {
    margin-top: 1rem;
    height:3rem
}
.search_field {
    height: 1.5rem;
    padding: .5rem;
}
#main_search {
    height: 2.5rem;
    width: 85%;
    height : 100%;
}

#search_button {
    justify-content: center;
    text-align: center;
    vertical-align: center;
    border: var(--bs-cyangroup1);
    border-radius: .25rem;
    background: var(--bs-cyangroup1);
    padding: .25rem 1rem .3rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: large;    
    height: 100%;
    padding: .8rem;
    margin-left: 1rem;
}

.custom-tabs-container {
    position: fixed;
    background-color: black;
    height: 3rem;
}
.custom-tabs {
    background-color:var(--bs-whitegroup1) !important;
}

.custom-tab {
    background-color:var(--bs-whitegroup1) !important;
    color: black !important;
    border-top-left-radius: .3rem !important;
    border-top-right-radius: .3rem !important;
    border: none !important;
    line-height: 1;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    height: 2.5rem !important;
    margin-top: 0.2rem;
    margin-right: 1px;
    font-size: 1rem;
}
.custom-tab--selected-show {
    color: white !important;
    background-color: var(--bs-cyangroup1) !important;
    border-top: none !important;
}
.custom-tab--selected-ops {
    color: white !important;
    background-color: var(--bs-greengroup1) !important;
    border-top: none !important;
}
.custom-tab--selected-doc {
    color: white !important;
    background-color: var(--bs-peachgroup1) !important;
    border-top: none !important;
}


.ops_header {
    color: white;
    background-color: var(--bs-greengroup1);
}
.show_header {
    color: white;
    background-color: var(--bs-cyangroup1);
}
.doc_header {
    color: white;
    background-color: var(--bs-peachgroup1);
}


.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table {
    font-family: "Montserrat" !important;
    font-size: 0.75rem;
}

.row_layout {
    width: 100%;
    display: flex;
}
.non_row_layout {
    display: relative;
}

#embed_video {
    justify-content: right;
    width:32vw;
    height:18vw;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

ul {
    margin-top: 0rem;
    margin-bottom: 0rem;
    line-height: 1.5;
    margin-right: .75vw;
    margin-bottom: .5vw;
}

.padding_p {
    margin-top: .5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: .5vw;
}

#clear_basket_button {
    background: black !important;
    color: white !important;
    cursor: pointer !important;
    border: none;
    transition-duration: 0.25s;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    padding: 1rem;
  }

#clear_basket_button:hover {
    background: var(--bs-red) !important;
}

#save_button {
    background: var(--bs-cyangroup2) !important;
    color: white !important;
    cursor: pointer !important;
    border:none;
    transition-duration: 0.25s;
    float:right;
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    
    padding: 1rem;
  }
#save_button:hover {
    background: var(--bs-cyangroup1) !important;
}

#title_nav_style {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    left : 33%;
    width : 34%;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
}

.nav-item{
    display: inline;
    z-index: 999;
    margin-left: 5%;
    margin-right: 5%;
}

.nav-link {
    color:black;
    font-size: large;
}

.nav_button {
    position: flex;
    display: inline;
    color:black;
    font-size: large;
     z-index: 999;
    position : relative;
    overflow : visible;
    margin-left: 5%;
    margin-right: 5%;
    border: 0rem;
    background: white;
    font-size: large;
    font-weight: normal;
    font-family: "Montserrat";
}

.nav_button:hover {
    text-decoration: underline;
}

#body {
    position: fixed;
    top: 4.5rem;
    left:0;
    width: 100%;
    height : calc(100% - 4.5rem);
    z-index: 0;
    overflow-y: hidden;
}

.body_footer {
    height: 100%;
}

#body_content {
    position: relative;
    width: auto;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.body_box {
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    height: fit-content;
    min-height: calc(100% - 6rem);
}
#body_search {
    background-color: var(--bs-whitegroup2);
}

#sidebar_left_div {
    position: relative;
    float: left;
    top: 0;
    left: 0;
    z-index: 1;
    width: fit-content;
    height: 100%;
    background-color: #212529;
    
}

#sidebar_list_div {
    position: relative;
    background-color:#212529 ;
    overflow-y: scroll;
    overflow-x: hidden;
    height:91.1%;
}


#sidebar_title {
    background-color: #212529;
    color: white;
    height: 8.8%;
}

#landing {
    color:blue;
    height: 100%;
    overflow-y: scroll;
}

#sidebar-collapse {
    position: relative;
    float: left;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    background-color: #212529;
    width: 25vw;
}
#sidebar-collapse {
    position: relative;
    float: left;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    background-color: #212529;
    width: 25vw;
    min-width: 25vw;
}
.collapsing collapse-horizontal{
    display: none;
}

.collapse_header {
    font-size: larger;
    font-family: "Montserrat";
    border: none;
    border-bottom: thin solid #000000;
    width: 100%;
    background-color: white;
    text-align: left;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.collapse_header:hover {
    border-bottom: medium solid #000000;
}

.collapse_header:not(.collapsed)::after {
    align-content:flex-end;
    content: url("expand-arrow-1-32.png");
    transform: rotate(-180deg);
    border: none;
    }

.style_div {
    width: 100%;
    padding: 1rem;
    background-color: var(--bs-whitegroup1);
    color: black;
    border-radius: .5rem .5rem 0 0;
}
#search_style_div {
    font-size: .9rem;
}
#search_style_div label {
    margin-right: 1rem;
}
#search_type_radio {
    padding : .25rem;
    padding-top: 1rem;
    font-size:  1.25rem;
    background-color: white;
}
#search_type_radio label {
    margin-right: 1rem;
}

.container_div {
    width: 100%;
    padding: .25rem;
    background-color: var(--bs-whitegroup1);
    color: black;
}

.container_line_50{
    width: 50%;
    align-content: inline;
}

.tab_div{
    width: 100%;
    height: 20rem;
}


.text_block{
    font-size: normal;
}

.info_box_left {
    width : 25%;
    display: inline-block;
    vertical-align: top;
    padding-right: 1%;
}
.info_box_right {
    width : 74%;
    display: inline-block;
    vertical-align: top;
}

.sunburst {
    width: 100%;
    height:auto;
}

.leaflet-pane {
    position: relative;
    width: auto;
    height: auto;
    top: 0;
}


.title_div {
    position: fixed;
    display: flex;
    top: 0;
    left: 0rem;
    height: 4.5rem;
    width: 100%;
    background-color: white;
    color: black;
    overflow: visible;
}

.footer {
    display:flex;
    position: relative;
    left: 0;
    bottom: 0;
    height: 6rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: var(--bs-greengroup1);
    overflow: hidden;
    vertical-align: bottom;
    width: 100%
}


.footer_img {
    max-width:100%;
    max-height: 100%;
    vertical-align: middle;
    align-content: center;
}

.footer_div {
    vertical-align: middle;
    align-content: center;
    width:20%;
    padding-left: .5rem;
    padding-right: .5rem;
}


#sidebar-collapse-button {
    float: left;
    position: absolute;
    top: 0rem;
    z-index: 5;
    background-color: #212529;
    border: none;
    color: white;
    width: 2rem;
    height: 2rem;
}

#sidebar-collapse-button:hover {
    background-color: black;
}
.bi-list {
    font-size:large;
    font-weight: bold;
}


#intro_div {
    padding-top: .5rem;
    text-align: center;
    padding-bottom: .5rem;
}

.source_overview_box {
    padding: .65rem;
    padding-top: .2rem;
    border:  solid thin black;
    border-radius: .5rem;
    background-color: white;
    margin: .5rem;
}

.source_list {
    border-radius: .5rem;
    background-color: var(--bs-whitegroup2);
}

#source_row {
    height:fit-content;
}

.inline_img {
    max-height: 4rem;
    vertical-align: middle;
    align-content: center;
    padding-left: .5rem;
    padding-right: .5rem;
}
.header_row {
    display: flex;
    vertical-align: middle;
    align-items: center;
}
#study_title {
    padding-left: 1rem;
}

